.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin:50px auto;
  padding: 20px;
  background: linear-gradient(to bottom right,rgb(37, 37, 234),rgb(115, 191, 222));
}

.card{
  margin: 15px;
  padding: 10px;
  border-radius: 15px;
  background-color:whitesmoke;
  font-size: 20px;
}

.card:hover{
  margin-top: 1px;
  cursor: pointer;
}

.month{
  font-size: small;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list{
  text-align: left;
}



.button{
  width: 300px;
  padding: 10px;
  font-size: medium;
  background-color: cornflowerblue;
  color: aliceblue;
  border-radius: 20px;
}

button:hover{
  background-color: rgb(30, 94, 214);
}

.membership{
  font-family: monospace;
  color: cadetblue;
}
.disable{
  opacity: 0.3;
}

@media (max-width:450px){
  .App{
    grid-template-columns: 1fr;
  }
}



